<div>
  <h1>Home Pages</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod itaque fuga asperiores deleniti at totam quo accusamus ratione, error harum in omnis molestias doloremque. Nisi voluptas perferendis alias ipsam veniam?</p>
</div>